* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto 5px auto;
    padding: 5px;

}

.main-content {
    min-height: 70vh;
}

.image-responsive {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;

}

.clear-fix {
    clear: both;
}




/* CSS for navigation-bar section */

.navigation-bar {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: white;

}

.logo {
    width: 28%;
    margin-top: 3px;
    float: left;
}

.menu {
    line-height: 55px;
    font-size: 17px;
    text-align: right;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    padding: 10px;
    display: inline;

}

.menu ul li a {
    color: #E33E33;
    padding: 10px 10px;
}

 
.menu ul li.active a {
    color: white;
    background-color: #E33E33;
    border-radius: 8px;
    opacity: 90%;
    font-weight: 500;
}
.navigation-bar .container {
    margin: 0 auto;
    padding: 0;
}


/*CSS for login dropdown menu  */
.dropdown-btn {
    position: relative;
}

#dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 5px;
    background-color: #FCF8F3;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
    padding: 0;
    list-style: none;
    margin: 0;
    border-radius: 5px;
    overflow: auto;
}

.dropdown-btn:hover #dropdown {
    display: block;
}

#dropdown li{
    display: block;
    min-width: 130px;
    padding: 10px 5px;
    color: #E33E33;
    text-align: center;
    line-height: normal;
    z-index: 15;
    margin: 0;
}

#dropdown li:hover {
    color: white;
    background-color: #B43F3F;
    padding: 10px 5px;
    cursor: pointer;
}

#dropdown li a:hover{
    color: white;
}

/* CSs for   manage-employees section */

.page-heading {
    text-align:left;
    padding: 3%;
    padding-left: 2%;
    font-size: 28px;
    color: #333;
}
.page-heading h2 {
    font-size: 28px;
    color: #333;
}

.table-full {
    width: 100%;
    box-shadow: 0 0 2px 1px #e6e6e6;


}

.items-list-table {
    min-height: 38vh;
    margin-top: 1%;

}

table tr th {
    padding: 1%;
    text-align: center;
    color: white;
    background-color: #434956;

}

table tr td {
    padding: 1%;
    text-align: center;


}

table tr:nth-child(odd) {
    background-color: #cccccc;


}

table tr:nth-child(even) {
    background-color: #e6e6e6;
}

table tr:hover {
    background-color: #bfbfbf;
}

.table-update-btn {
    color: #008fb3;
    cursor: pointer;
    margin-right: 10%;

}

.table-delete-btn {
    color: red;
    cursor: pointer;
}


.btn-primary {
    background-color: #2d8659;
    color: white;
    font-weight: bold;
    width: auto;
    display: inline-block;
    padding: 1% 3%;
    margin-bottom: 5px;
    border-radius: 8px;
}

.btn-primary:hover {
    background-color: #26734d;
    cursor: pointer;
}

.btn-secondary {
    background-color: #008fb3;
    color: white;
    font-weight: bold;
    width: auto;
    display: inline-block;
    padding: 1%;
    margin: 5% 0;
    border-radius: 10px;

}

.btn-secondary:hover {
    background-color: #026e89;
}



/* css for add, update and delete input form */

.overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -10;
    opacity: 0;
    transition: 0.6s;

}

.show-overlay {
    opacity: 1;
    z-index: 99;
}

.form-heading {
    font-size: 40px;
    margin-bottom: 15px;

}


.form {
    width: 35%;
    max-height: 95vh;
    overflow-y: auto;
    background-color: white;
    padding: 2% 3%;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 100;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
    transition: 0.8s;
}

.show-form {
    top: 50%;

}

.form input {
    outline: none;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="number"],
.form select {
    font-size: 16px;
    width: 100%;
    height: 40px;
    margin-top: 1%;
    margin-bottom: 4%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    padding-left: 7px;
}

.form textarea{
    font-size: 16px;
    max-width: 100%;
    min-height: 40px;
    margin-top: 1%;
    margin-bottom: 4%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    padding: 7px;
}
.form textarea:focus {
    border: 1px solid #E33E33;

}
.form input[type="file"] {
    font-size: 16px;
    width: 78%;
    margin: 2% 0 6% 12%;
    outline: none;
    transform: scale(1.31);
}


.form input[type="radio"] {
    cursor: pointer;
    transform: scale(1.3);
}


.form input:focus {
    border: 1px solid #E33E33;

}

.form input[type="file"]:focus{
    border: none;
}

.form label {
    font-size: 17px;
    display: block;

}


.submit-button {
    width: 100%;
    color: white;
    border: none !important;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 4%;
}

.form-add-btn {
    background-color: #2d8659;

}

.form-add-btn:hover {
    background-color: #26734d;
    cursor: pointer;
}

.form-update-btn {
    background-color: #008fb3;
}

.form-update-btn:hover {
    background-color: #026e89;
    cursor: pointer;
}

.confirm-delete-qsn {
    font-size: 20px;
}

.delete-yes {
    background-color: #E33E33 !important;
    width: 35% !important;
    margin-top: 10% !important;
    float: left;

}

.delete-yes:hover {
    background-color: #B43F3F !important;
    cursor: pointer;
}

.delete-no {
    background-color: #2d8659;
    width: 35%;
    margin-top: 10%;
    padding: 10px;
    text-align: center;
    font-size: 17px;
    border-radius: 5px !important;
    position: relative !important;
    float: right;

}

.delete-no:hover {
    background-color: #26734d !important;
    cursor: pointer;
}

/* css for showing and hiding password */
.check-box, #check-box {
    width: 20px;
    height: 20px;
    float: left;
    margin-right:  5px;

}

.show-password {
    font-size: 15px;
    padding: 3px 6px;
    float: left;
}

/* css for notification-msg box */

.notification-msg {
    position: absolute;
    right: 5%;
    top: -50%;
    margin: 20px;
    width: auto;
    font-size: 17px;
    color: red;
    background-color: #dff0d8;
    padding: 0.9% 60px;
    text-align: left;
    border-radius: 10px;
    z-index: 50;
    transition: all 0.8s;
    overflow: hidden;
}

.show-notification-msg {
    top: 12%;

}

.cross {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 15px;
    font-size: 1.6rem;
    border-radius: 1px;
}

.cross:hover {
    background-color: #E33E33;
    color: white;
    cursor: pointer;
}

/* CSS for order-details  page */
/* Need to redife everything for the form
 because the other forms are styled differently */

 .grand-total-row {
    padding: 1% 5%;
    color:#B43F3F;
    font-size: 17px;
    font-weight: bold;
}

.order-details-grid-container{
    display: grid;
    grid-template-columns: 35% auto;
    gap: 5px 5px;
}


.input-box{
    box-shadow: 0 0 2px 1px #e6e6e6;
    padding: 4%;

}

.basic-details input {
    font-size: 16px;
    width: 100%;
    height: 40px;
    margin-top: 1%;
    margin-bottom: 4%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    padding: 3%;
}

.basic-details label {
    font-size: 18px;

}

.basic-details textarea{
    font-size: 16px;
    max-width: 100%;
    min-width: 100%;
    min-height: 40px;
    margin-top: 1%;
    margin-bottom: 4%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    padding: 3%;

}

.basic-details .header,
.order-details .header{
    border-bottom: 1.5px solid rgba(47, 54, 69, 0.2);
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    font-size: 17px;

}

.order-details{
    padding-left: 3%;
}
.order-table{
    width: 100%;
    box-shadow: 0 0 2px 1px #e6e6e6;
}
.order-table tr th {
    padding: 1%;
    text-align: center;
    color: white;
    background-color: #434956;
}

.order-table tr td {
    padding: 1%;
    text-align: center;


}
.order-table tr:nth-child(odd) {
    background-color: #cccccc;
    
}

.order-details-tab.order-table tr:nth-child(even) {
    background-color: #e6e6e6;
    
}
.order-table tr:hover {
    background-color: #bfbfbf;
} 


.button, .odr-update-btn{
    width: 25%;
    border: 1px solid #008fb3;
    border-radius: 2px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    padding: 1% ;
    color: #008fb3;
    cursor: pointer;
    margin: 4%;
}

.button:hover,
.btn-hover{
    background-color:#008fb3;
    color: white;
}

/* CSS for dashboard */

.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.box {
    width: 200px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.box:hover{
    transform: scale(1.009, 1.009);
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); */
    box-shadow: 0 2px 2px 2px  #e6e6e6; 

}

.box-heading {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

.box-content {
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

/* Quick Links Section */
.quick-links {
    margin-bottom: 30px;
}

.quick-links h3 {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 15px;
    color: #333;
    padding-left: 10px;
    text-align: left;
}

.links-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.quick-link {
    border: 1px solid #008fb3;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    padding: 1% ;
    color: #008fb3;
    cursor: pointer;
    margin: 3px 1%;
}

.quick-link:hover {
    background-color:#008fb3;
    color: white;
}

/* Notifications Section */
.notifications {
    margin-bottom: 30px;
}

.notifications h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

.notifications-list {
    list-style: none;
    padding: 0;
}

.notification-item {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #555;
}


/* css for footer section */
.footer {
    width: 100%;
    background-color: #2F3645;
    margin: 6% auto 0;
    padding-top: 1%;
    text-align: center;
    border: 1px solid #2F3645;

}

.footer-logo {
    width: 25%;
    margin: auto;

}

.copyright-msg {
    color: white;
    padding: 5px;
    text-align: center;

}

.filter-button {
    padding: 8px 15px;
    margin: 10px;
    border: none;
    background-color: white;
    border: 1px solid #008fb3;
    color: #005f73;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    float: right;
}

.filter-active {
    background-color:#008fb3;
    color: white;
}

.update-button{
    width: 100%;
    background-color:#008fb3;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 10%;
    /* margin-top: 100px; */
    cursor: pointer;
}

.update-button:hover{
    background-color: #026e89;
}

.error-msg {
    color: red;
    text-align: center;
}