/* This is the main css file. */


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto 5px auto;
    padding: 5px;

}

.page-heading {
    margin: 1%;
}

.image-responsive {
    width: 100%;
}

.text-right {
    text-align: right;

}

.text-center {
    text-align: center;
}

.clear-fix {
    clear: both;
}

a {
    text-decoration: none;
    color: black;

}

.add-padding {
    padding: 1%;
}

.add-bottom-padding {
    padding-bottom: 1%;
}

.btn {
    background-color: #D95F59;
    color: white;
    font-size: 1rem;
    padding: 1%;
    border-radius: 10px;
}

h2 {
    color: #2F3645;
    font-size: 25px;
    padding: 1%;
}





/* CSS for navigation-bar section */

#cart-items-count {
    font-size: 12px;
    color: white;
    background-color: red;
    border-radius: 50%; 
    width: 25px;  
    height: 25px;  
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
}

.navigation-bar {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: white;

}

.logo {
    width: 28%;
    margin-top: 3px;
    float: left;
}

.menu {
    line-height: 55px;
    font-size: 17px;
    text-align: right;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    padding: 10px 20px;
    display: inline;


}

.menu ul li a {
    color: #E33E33;
}


.navigation-bar .container {
    margin: 0 auto;
    padding: 0;
}

.menu ul li.active a {
    color: white;
    background-color: #E33E33;
    padding: 10px 20px;
    border-radius: 8px;
    opacity: 90%;
    font-weight: 500;
}

/*CSS for login dropdown menu  */


.dropdown-btn {
    position: relative;
}

#dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 5px;
    background-color: #FCF8F3;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
    padding: 0;
    list-style: none;
    margin: 0;
    border-radius: 5px;
    overflow: auto;
}

.dropdown-btn:hover #dropdown {
    display: block;
}

#dropdown li {
    display: block;
    padding: 10px;
    color: #E33E33;
    text-align: center;
    line-height: normal;
    z-index: 15;
}

#dropdown li:hover {
    color: white;
    background-color: #B43F3F;
    cursor: pointer;
}


/* CSS for login form */


.btn-login {
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;

}

.overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 0.6s;
    z-index: -50;

}

.show-overlay {
    opacity: 1;
    z-index: 50;
}

.form-heading {
    font-size: 40px;
    margin-bottom: 15px;

}


.form {
    width: 35%;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: -50%;
    z-index: 55;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: 0.8s;
}

.show-form {
    top: 50%;

}

.form span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1% 3%;
    font-size: 1.6rem;
    border-radius: 1px;
}

.form span:hover {
    background-color: #E33E33;
    color: white;
    cursor: pointer;
}


.form input {
    font-size: 16px;
    width: 100%;
    height: 40px;
    margin-top: 1%;
    margin-bottom: 4%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    padding-left: 3%;
}

.form input:focus {
    border: 1px solid #E33E33;

}

.form label {
    font-size: 18px;

}

.form button {
    width: 100%;
    background-color: #E33E33;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 4%;
}

.form button:hover {
    background-color: #B43F3F;
}

.form button a {
    color: white;
}

.form-footer {
    margin-top: 5%;
    text-align: center;
}

.form-footer a {
    text-decoration: none;
    color: #2d8659;

}

.form-footer a:hover {
    text-decoration: underline;
}

.error-msg {
    color: red;
    text-align: center;
}

.submit-button {
    width: 100%;
    color: white;
    border: none !important;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 4%;
}

.confirm-delete-qsn {
    font-size: 20px;
}

.delete-yes {
    background-color: #E33E33 !important;
    width: 35% !important;
    margin-top: 10% !important;
    float: left;

}

.delete-yes:hover {
    background-color: #B43F3F !important;
    cursor: pointer;
}

.delete-no {
    background-color: #2d8659;
    width: 35%;
    margin-top: 10%;
    padding: 10px;
    text-align: center;
    font-size: 17px;
    border-radius: 5px !important;
    position: relative !important;
    float: right;

}

.delete-no:hover {
    background-color: #26734d !important;
    cursor: pointer;
}


#customer-sign-up-form{
    margin: auto;
    margin-top: 2% !important;
    width: 50%;
    padding: 3%;
    box-shadow: 0 0 4px 3px #e6e6e6;

}


/* css for notification-msg box */

.notification-msg {
    position: absolute;
    right: 5%;
    top: -50%;
    margin: 20px;
    width: auto;
    font-size: 17px;
    color: red;
    background-color: #dff0d8;
    padding: 0.9% 60px;
    text-align: left;
    border-radius: 10px;
    z-index: 500;
    transition: all 0.8s;
    overflow: hidden;
}

.show-notification-msg {
    top: 12%;

}

.cross, .cross1 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 15px;
    font-size: 1.6rem;
    border-radius: 1px;
}

.cross:hover, .cross1:hover {
    background-color: #E33E33;
    color: white;
    cursor: pointer;
}

/* css for showing and hiding password */
.form .check-box {
    width: 20px;
    float: left;
    margin: 0;

}

.form .show-password {
    font-size: 15px;
    padding: 1% 2%;
    margin-top: 2%;
    float: left;
}

/* CSS for search-food section */
.search-food {
    position: relative;
    background-image: url(../images/home_page_bg_image.jpg);
    padding: 10% 8%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.search-food input[type="search"] {
    width: 60%;
    padding: 1.8%;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 10px;
    border: none;
    outline: none;
}

.search-food input[type="search"]:hover {
    transform: scale(1.009, 1.009);
    box-shadow: 2px 12px 5px rgba(0, 0, 0, 0.3);
}

.search-food input[type="submit"] {
    width: 15%;
    padding: 1.8%;
    margin-left: 5px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: grey;
    cursor: pointer;
}

.search-food input[type="submit"]:hover {
    transform: scale(1.04, 1.04);
    box-shadow: 2px 12px 4px rgba(0, 0, 0, 0.3)
}

.active-hour {
    position: absolute;
    bottom: 13px;
    right: 13px;

}


/*  CSS for categories */
.categories {
    padding: 3% 0 7% 0;
    position: relative;
}


.cat-grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 5px 5px;
}

.box {
    margin: 4px;
    height: 95%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3)
}

.box-image {
    height: 80%;
    overflow: hidden;
}

.box a img:hover {
    transform: scale(1.06, 1.06);
    transition: transform 0.6s ease-out;
}

.food-title {
    background-color: #FCF8F3;
    height: 20%;
    padding-top: 4%;
    text-align: center;

}

/* .view-all {
    position: absolute;
    right: 40px;
    bottom: 10px;
}

.view-all:hover {
    transform: scale(1.04, 1.04);
    transition: transform 0.3s ease;
    background-color: #B43F3F;

} */


/* CSS for food-menu  */

.food-menu {
    position: relative;
    background-color: #EEEDEB;
    padding: 2% 0 7% 0;
}

.menu-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}


.food-menu-box {
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    padding: 2%;
    margin: 1%;
}

.food-menu-box:hover {
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    transform: scale(1.01, 1.01);
    transition: box-shadow 0.3s ease;
}

.food-menu-image {
    width: 15%;
    float: left;
    margin-top: 1%;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.food-details {
    position: relative;
    padding: 1%;
    float: left;
    width: 82%;
    text-align:left;
    margin: auto;
    margin-left: 3%;
}

.food-description {
    color: #696e77;
    font-size: 14px;
    margin-top: 1%;
}

.food-name,
.food-price {
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
}

.cart-btn {
    position: absolute;
    right: 8%;
    top: 6%;
    width: 35px;
    height: 35px;
    padding: 5px;

}
.cart-btn:hover{
    cursor: pointer;
}

/* CSS for the menu page */
.menu-page-grid {
    display: grid;
    grid-template-columns: 20% 80%;
}

.search-menu input[type="search"] {
    width: 60%;
    background-color: white;
    padding: 1.6%;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 7px;
    border: 1px solid black;
    outline: none;
}

.search-menu input[type="submit"] {
    width: 15%;
    background-color: white;
    color: grey;
    padding: 1.6%;
    margin-left: 5px;
    font-size: 1.1rem;
    border-radius: 7px;
    border: 1px solid black;
    cursor: pointer;
}

.category-bar {
    position: relative;
}

.sticky-cat-section {
    position: sticky;
    top: 15%;
}

.category-bar ul {
    margin-top: 30%;
    list-style-type: none;
}

.category-bar ul li {
    padding: 5%;
    padding-left: 8%;
    font-size: 17px;
}

.category-bar ul li:hover {
    cursor: pointer;
    background-color: #cccccc;
    border-radius: 5px;
}

.menu-list {
    padding: 1%;
    margin: 1% auto;
    width: 100%;

}

.active-menu{
    background-color: white !important;
    border-radius: 5px;
    color: crimson;
}

 

/* CSS for cart-popup */

.popup-menu-box{
    width: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 5px 5px;
}

.menu-image{
    border-radius: 5px;
    margin: 0;
    overflow: hidden;
}

.menu-details{
    margin: auto;
    margin-left: 5%;
}

#food-item, #item-price{
    margin: 2%;
    font-size: 18px;
    font-weight: 500;
}

#item-description{
    color: #696e77;
    font-size: 15px;
}

/* CSS for my-cart page */

/* CSS for table */
.table-full {
    width: 100%;
    box-shadow: 0 0 2px 1px #e6e6e6;

}

.items-list-table {
    min-height: 38vh;
    margin-top: 2%;

}

table tr th {
    padding: 1% 5%;
    text-align: left;
    color: white;
    background-color: #2F3645;


}

table tr td {
    padding: 4px;
    text-align: center;


}

.grand-total-row {
    padding: 1% 5%;
    color:#B43F3F;
    font-size: 17px;
    font-weight: bold;
}

table input:focus {
    outline: none;
    border: 1px solid  #2F3645 ;
    border-radius: 2px;

}


.table-update-btn {
    border: 1px solid #008fb3;
    border-radius: 2px;
    font-size: 17px;
    font-weight: 500;
    padding: 1.5% ;
    color: #008fb3;
    cursor: pointer;
    margin-left: 4%;

}

.add-background{
    background-color: #008fb3;
    color: white;
}
 

.table-delete-btn {
    border: 1px solid red;
    border-radius: 2px;
    font-size: 17px;
    font-weight: 500;
    margin-top: 50px;
    padding: 1.5%;
    color: red;
    cursor: pointer;
}

.table-delete-btn:hover{
    background-color:#E33E33;
    color: white;
}

 

.food-item-box {
    background-color: transparent;
    padding: 1%;

}

.food-item-image {
    width: 18%;
    float: left;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.food-item-details {
    position: relative;
    padding: 1%;
    float: left;
    width: 75%;
    text-align:left;
    margin: auto;
    margin-left: 3%;
}


.food-item {
    font-size: 15px;
    font-weight: 500;
}

.food-item-price {
    font-size: 15px;
    font-weight: 500;
    margin: 5px 0;
}

.checkout-btn{
    border: 1.5px solid #008fb3;
    background-color:#008fb3;
    color:white;
    border-radius: 3px;
    margin-top: 2%;
    padding: 1% 4%;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    float: right;
}
.checkout-btn:hover{
    background-color: #026e89;
    cursor: pointer;
}

/* CSS for checkout page */

.checkout-grid-container,
.order-details-grid-container{
    display: grid;
    grid-template-columns: 35% auto;
    gap: 5px 5px;
}


.input-box{
    box-shadow: 0 0 2px 1px #e6e6e6;
    padding: 4%;

}

.basic-details input {
    font-size: 16px;
    width: 100%;
    height: 40px;
    margin-top: 1%;
    margin-bottom: 4%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    padding: 3%;
}

.basic-details label {
    font-size: 18px;

}

.basic-details textarea{
    font-size: 16px;
    max-width: 100%;
    min-width: 100%;
    min-height: 40px;
    margin-top: 1%;
    margin-bottom: 4%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    padding: 3%;

}

.basic-details .header,
.order-details .header{
    border-bottom: 1.5px solid rgba(47, 54, 69, 0.2);
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    font-size: 17px;
    text-align: center;

}

.order-details{
    padding-left: 3%;
}

.checkout-table{
    width: 100%;
    box-shadow: 0 0 2px 1px #e6e6e6;
}

.checkout-table tr th {
    padding: 1%;
    text-align: center;
    color: white;
    background-color: #434956;


}

.checkout-table tr td {
    padding: 1%;
    text-align: center;
}

.checkout-table tr:nth-child(odd) {
    background-color: white;
}

.checkout-table tr:nth-child(even) {
    background-color: #F0F0F0;
}

.payment-method-box{
    box-shadow: 0 0 3px 2px #e6e6e6;
    padding: 3% 5%;
    margin: 5% auto;
}

.payment-method{
    width: 35%;
    float:left;
    margin: 1% 6%;
    padding: 3%;

}

.payment-method input[type="radio"] {
    display: none;  
}

.payment-method input[type="radio"]:checked + label {
    border: 2px solid #008fb3;
    color: #008fb3;
     
}

.label-khalti,
.label-cod{
    display: block;
    cursor: pointer;
    box-shadow: 0 0 3px 2px #e6e6e6;
    width: 100%;
    padding: 5%;
    border-radius: 5px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #008fb3;

}

.label-khalti:hover,
.label-cod:hover{
    border: 1.5px solid #008fb3;
    box-shadow: none;

}

.confirm-button, .update-button{
    width: 100%;
    background-color:#008fb3;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin: 1%;
    cursor: pointer;
}

.confirm-button:hover, .update-button:hover{
    background-color: #026e89;
}

/* CSS for order and order history page */
.order-table{
    width: 100%;
    box-shadow: 0 0 2px 1px #e6e6e6;
}

.order-table tr th {
    padding: 1%;
    text-align: center;
    color: white;
    background-color: #434956;


}

.order-table tr td {
    padding: 1%;
    text-align: center;
}

.order-table tr:nth-child(odd) {
    background-color: white;
}

.order-table tr:nth-child(even) {
    background-color: #F0F0F0;
}

.button, .odr-update-btn{
    width: 25%;
    border: 1px solid #008fb3;
    border-radius: 2px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    padding: 1% ;
    color: #008fb3;
    cursor: pointer;
    margin: 4%;
}

.button:hover,
.btn-hover{
    background-color:#008fb3;
    color: white;
}



/* CSS for footer */

.footer {
    background-color: #2F3645;
    margin-top: 6%;
    padding-top: 5%;
    border: 1px solid #2F3645;

}

.footer-section {
    display: grid;
    grid-template-columns: 31% 30% 30%;
    gap: 0 9%;
}

.footer-logo {
    padding: 8% 0;
}

.company-desc {
    color: #EEEDEB;

}

.company-info {
    text-align: center;
    padding: 5%;
}

.company-info ul {
    list-style-type: none;

}

.company-info ul li {
    padding: 5px;
    display: block;
    font-size: 20px;

}

.company-info ul li a {
    color: #EEEDEB;

}

.company-info ul li a:hover{
    text-decoration: underline; 

}

.social-media ul {
    list-style-type: none;

}

.social-media ul li {
    display: inline;

}

.social-media ul li a {
    color: #EEEDEB;
    padding: 5px;

}

.footer-heading {
    font-size: 20px;
    font-weight: bold;
    color: #EEEDEB;
    padding: 5% 0;

}

.icon-container {
    padding-left: 0;
}

.social-media-icon {
    width: 40px;
    float: left;
    margin: 5%;
}

.social-media-icon:hover {
    transform: scale(1.1, 1.1);

}


.copyright-msg {
    color: white;
    padding: 2%;
}


/* CSS for for tablet, mobile size or smaller screen */

@media only screen and (max-width: 950px) {

    .form {
        width: 60%;
    }

    .logo {
        width: 40%;
    }

    .container {
        width: 90%;

    }


    .menu {
        text-align: center;
        height: 20%;
    }

    .menu ul {
        margin: 1%;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        scrollbar-width: none;
    }

    .menu ul li {
        border-right: 1px solid grey;
        border-radius: 0;
        padding: 1% 2%;
        line-height: 20px;
    }

    .menu ul li.active a {
        color: white;
        background-color: #E33E33;
        padding: 5px;
        border-radius: 0;
        opacity: 90%;
        font-weight: 500;
    }

    #hide-login-btn {
        display: none;
    }


    .menu-grid-container {
        grid-template-columns: auto;
        gap: 5px 5px;
    }

    .cat-grid-container {
        grid-template-columns: auto auto auto;
    }

    .footer-section {
        grid-template-columns: 31% 31% 35%;
        gap: 0 3%;
    }

    .social-media-icon {
        margin: 2%;
    }

    /* css for menu-page */
    .menu-page-grid {
        display: grid;
        grid-template-columns: 100%;
    }

    .category-bar ul {
        margin: 1%;
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
    }

    .category-bar ul li {
        border-right: 1px solid grey;
        border-radius: 0;
        padding: 1% 2%;

    }

    .category-bar ul li:hover {
        border-radius: 0;
    }

    .active-menu {
        background-color: rgba(0, 0, 0, 0) !important;
    }

}

@media only screen and (max-width: 600px) {

    .btn {
        padding: 2%;
        border-radius: 6px;
    }

    .form {
        width: 90%;
    }


    .container {
        width: 100%;

    }

    /* Navbar section */

    .logo {
        width: 50%;
        float: none;
        margin: 1% auto;
    }

    .menu {
        text-align: center;
        line-height: 30px;
        font-size: 15px;
        padding: 0 3% 2% 3%;
    }



    /* Search section */
    .search-food {
        padding: 18% 0;

    }

    .search-food input[type="search"] {
        width: 78%;
        font-size: 0.95rem;
    }

    .search-food input[type="submit"] {
        width: 18%;
        margin-left: 1px;
        font-size: 0.95rem;
    }

    .active-hour {
        font-size: 0.9rem;
        bottom: 9px;
        right: 9px;

    }

    /* Categories section */

    .categories {
        padding: 15% 1%;
    }

    .cat-grid-container {
        grid-template-columns: auto auto;
        gap: 5px 5px;
    }

    .food-title {
        padding-top: 2%;
    }


    /* Menu section */

    .food-menu {
        padding: 5% 0 12% 0;
    }

    .menu-grid-container {
        grid-template-columns: auto;
    }

    /* footer section */

    .footer-section {
        grid-template-columns: auto;

    }

    .icon-container {
        padding-left: 15%;
    }

    /* menu-page */
    .search-menu input[type="search"] {
    width: 75%;
    padding: 1%;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    }

    .search-menu input[type="submit"] {
        width: 19%;
        padding: 1%;
        font-size: 1rem;
        text-align: center;
        border-radius: 5px;

    }
}